body {
background-color: tan;
color: darkgreen;
font-family: georgia;
text-align: center;
border: 2px solid green;
  padding: 50px;
  margin: 20px;
}

h1{
	border: 3px solid darkgreen
    
    }

i{
    font-style: italic;
}
a:link, a:visited {
  background-color: darkgreen;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: lightgreen;
}

small{
        color: darkgreen;
        font-family: georgia;
        font-style: italic;
        }
        
        